<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="lacs_script">

    <script th:src="@{/static/node_modules/admin-lte/plugins/jQuery/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/static/node_modules/admin-lte/bootstrap/js/bootstrap.min.js}"></script>

    <!--todo 디버깅 과정 중 오류나는 부분. 무엇에 사용되는지 파악이 안되어 일단 주석처리 - 2-16.07.05 재열-->
    <!-- daterangepicker 가 moment 에 의존성이 있기 때문에, 단독 패키징된 moment 가 아닌 daterangepicker 와 함께 패키징된 moment 를 사용해서 수정. - 2-16.07.27 동훈-->

    <script th:src="@{/static/node_modules/admin-lte/plugins/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/static/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/static/node_modules/admin-lte/plugins/datepicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/static/node_modules/admin-lte/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/static/node_modules/admin-lte/plugins/select2/select2.full.min.js}"></script>
    <script th:src="@{/static/node_modules/admin-lte/plugins/input-mask/jquery.inputmask.js}"></script>
    <script th:src="@{/static/node_modules/admin-lte/dist/js/app.min.js}"></script>

    <!--todo 디버깅 과정 중 오류나는 부분. 무엇에 사용되는지 파악이 안되어 일단 주석처리 - 2-16.07.05 재열-->
    <!--<script th:src="@{/static/node_modules/lodash/lodash.min.js}"></script>-->

    <script th:src="@{/static/js/Lacs.js}"></script>
    <script th:src="@{/static/js/index.js}"></script>
    <script th:src="@{/static/js/castingInstCommon.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</div>

</html>