<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="lacs_head">

    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="DomainDriven LA-project."/>
    <meta name="author" content="Donghoon Lee, Jaeyeoul Ahn"/>
    <title>DomainDriven Community App</title>

    <!-- Bootstrap core ` -->
    <link th:href="@{/static/node_modules/admin-lte/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/dist/css/AdminLTE.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/dist/css/skins/skin-black-light.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/datepicker/datepicker3.css}" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/select2/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/styles.css}" rel="stylesheet"/>

</head>


</html>