<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body  th:fragment="modifyPromotion">
<button type="button" class="btn btn-success btn-sm  modifyingPromotion" data-toggle="modal" data-target="#modifyPromotionModal" id="modifyPromotion" th:value="${itrStat.index}">
    수정
</button>
<!-- Modal -->
<div class="modal fade" id="modifyPromotionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">홍보자원수정</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <section class="content">
                        <div class="box box-primary">
                            <div class="box-body">
                                <form id="form" th:action="@{/promoting(title=${title})}" class="form" method="post">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>홍보장소명</th>
                                            <td>
                                                <input type="text" name="locationName" id="locationNameInputForm" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>URL</th>
                                            <td>
                                                <input type="text" name="locationURL" id="locationURLInputForm"/>
                                            </td>
                                          </tr>
                                        <tr>
                                            <th>작성자</th>
                                            <td><input type="text" name="worker" id="workerInputForm"/></td>
                                          </tr>
                                    </table>
                                    <input type="submit" class="btn btn-primary" id="modifyPromotionsSubmit"/>
                                    <input type="submit" class="btn btn-primary backBtn" th:value="뒤로가기"/>
                                </form>
                            </div>
                            <!--box-body-->
                        </div>
                        <!--.box-->
                    </section>
                    <!--.content-->
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</body>
</html>