<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="makingPoster">

<div class="col-md-12">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a th:href="@{/}" href="/"><i class="fa fa-dashboard"></i> 홈</a></li>
            <li class="active"><a href="">포스터 제작</a></li>
        </ol>
    </section>
    <br/><br/>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" th:text="${task.taskName}">Title</h3>
                <small th:text="(${task.getWorkers().get(0).getName()} != null) ? ' - 담당자: ' + ${task.getWorkers().get(0).getName()} : ' - 담당자가 아직 할당되지 않았습니다. '"></small>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
            <!--.box-header-->
            <div class="box-body">
                <h6>현재 총 진행률</h6>
                <div class="progress">
                    <div id="posterProgress" class="progress-bar" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%;" th:text="${task.getProgress()}">
                        100%
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>SubTask</th>
                        <th>PreTask</th>
                        <th>State</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href=""
                               target="_blank"><p>포스터 제작</p></a>
                        </td>
                        <td>
                            <a th:href="@{/reservingPlace(title=${title})}" href="/reservingPlace">장소예약</a>
                        </td>
                        <td>
                            <div class="col-sm-offset-1">
                                <button type="button" class="btn btn-success full-width" id="PosterComplete"
                                        style="display: block">작업 완료시에 여기를 눌러주세요.
                                </button>
                                <button type="button" class="btn btn-primary full-width" id="PosterRestart"
                                        style="display: none">작업 취소시에 여기를 눌러주세요.
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="box-body">
                <table class="table table-striped">
                    <tr>
                        <th>Data File name</th>
                    </tr>
                    <tr th:each="posterResources,itrStat :${task.getPosterResources()}">
                        <td th:switch="${posterResources.getIsDeleted()}">
                            <a th:case="${false}" th:id="posterResources+${itrStat.index}"
                               th:text="${posterResources.getResourcesName()}"></a>
                        </td>
                        <td th:switch="${posterResources.getIsDeleted()}">
                            <div th:case="${false}">
                                <button class="btn btn-sm download" th:value="${itrStat.index}">살펴보기</button>
                                <button class="btn btn-sm remove" th:value="${itrStat.index}">삭제하기</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="box-body">
                <form action="uploadPosterResource" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="inputFile">파일 업로드</label>
                        <input type="file" name="inputFile" id="inputFile"/>
                        <p class="help-block">업로드 할 포스터 자료를 선택해주세요.</p><br/>

                        <input type="text" name="hiddenText" id="hiddenText" th:value="${title}"/>
                        <!--<button id="inputFileSave" type="button" class="btn btn-sm btn-warning">save</button>-->
                        <a th:include="fragments/modal/uploadingProgress :: uploadingProgress"></a>
                    </div>
                </form>
            </div>
            <!--.box-body-->
            <div class="box-footer">
                <a class="btn btn-primary backBtn">뒤로가기</a>
            </div>
            <!--.box-footer-->
        </div>
    </section>
</div>
<div th:replace="fragments/dependencies/lacs_script :: lacs_script"></div> <!--java script -->
<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
<script th:src="@{/static/js/makingPoster.js}" src="/static/js/makingPoster.js"></script>
</body>
</html>