<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="currentSeminar">
<div class="col-md-12">
    <section class="content-header">
        <ol class="breadcrumb">
            <li class="active"><a th:href="@{/}" href="/"><i class="fa fa-dashboard"></i> 홈</a></li>
        </ol>
    </section>
    <br/><br/>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">당월 세미나</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-3">

                    <!-- 세미나 예정일 info box -->
                    <div class="info-box bg-aqua" id="seminarDateInfoBox">
                        <span id="seminarDateIcon" class="info-box-icon" data-toggle="tooltip" data-placement="bottom"
                              title="세미나 날짜를 수정하려면 클릭하세요."><i class="fa fa-calendar"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">세미나 예정일 </span>
                            <span th:text="${#dates.format(currentSeminar.date, 'yyyy년 MMM dd일')}"
                                  class="info-box-number"></span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description" style="padding-left: 10px;"
                              th:text="(${diffDate} > 0) ? '세미나가 ' + ${diffDate} + '일 남았습니다.' : '세미나가 ' + ${diffDate} + '일 지났습니다.' ">세미나가 7일 남았습니다.</span>
                        <!-- /.info-box-content -->
                    </div>

                    <div id="seminarEditDateForm" style="display: none; margin-bottom: 10px;">
                        <div class="form-group">
                            <input type="text" name="date" class="form-control" id="seminarEditDate"
                                   th:value="${#dates.format(currentSeminar.date, 'dd/MM/yyyy')}"/>
                        </div><!--.form-group -->
                        <button id="seminarEditDateBtn" class="btn btn-info">날짜 수정</button>
                        <button class="btn btn-danger" id="cancelDateBtn">취소</button>
                    </div>

                    <!--<div th:replace="fragments/modal/modifySeminar :: modifySeminar"></div>-->

                    <!-- 세미나 청중수 info box -->
                    <div class="info-box bg-yellow" id="seminarAudienceInfoBox">
                        <span id="seminarAudienceIcon" class="info-box-icon" data-toggle="tooltip"
                              data-placement="bottom" title="세미나 청중수를 입력하려면 클릭하세요."><i class="fa fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">세미나 청중수 </span>
                            <span th:text="${currentSeminar.getAudience()} + '명'"
                                  class="info-box-number"></span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description" style="padding-left: 10px;"
                              th:text="'현재 청중이 목표치에 ' + (35 - ${currentSeminar.getAudience()}) +'명 부족합니다.'"></span>
                        <!-- /.info-box-content -->
                    </div>

                    <div id="seminarEditAudienceForm" style="display: none; margin-bottom: 10px;">
                        <div class="form-group">
                            <input type="text" name="audience" class="form-control" id="seminarEditAudience"
                                   th:value="${currentSeminar.getAudience()}"/>
                        </div>
                        <button id="seminarEditAudienceBtn" class="btn btn-info">입력</button>
                        <button class="btn btn-danger" id="cancelAudienceBtn">취소</button>
                    </div>

                    <button class="btn bg-maroon full-width" id="completeSeminar">완료</button>
                </div>
                <div class="col-md-9">
                    <h3 th:text="${currentSeminar.title}" id="seminarTitleText" style="width: 350px;"
                        data-toggle="tooltip" data-placement="top" title="세미나 주제를 수정하려면 클릭하세요."></h3>

                    <div id="seminarEditTitleForm" style="display: none">
                        <div class="input-group">
                            <input type="text" name="title" class="form-control" id="seminarEditTitle"
                                   th:value="${currentSeminar.title}"/>
                            <span class="input-group-btn">
                                <button id="seminarEditTitleBtn" class="btn btn-info">주제 수정</button>
                                <button class="btn btn-danger" id="cancelTitleBtn">취소</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Task</th>
                            <th>Worker</th>
                            <th>Progress</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task, itrStat: ${currentSeminar.tasks}">
                            <td th:text="${itrStat.index} +"></td>
                            <td class="center-y" style="width: 15%">
                                <a th:href="@{${task.getRequestUrl()}(title=${currentSeminar.title})}" href="#">
                                    <span class="center-y" th:text="${task.getTaskName()}">Task Name</span>
                                </a>
                            </td>
                            <td class="center-y" style="width: 25%">
                                <div class="input-group">
                                    <select class="form-control workerList">
                                        <option disabled="" selected=""
                                                th:text="(${task.getWorkers().get(0).getName()} != null) ? ${task.getWorkers().get(0).getName()} : '담당자를 선택해 주세요.'"></option>
                                        <option th:each="worker : ${workers}" th:text="${worker.getName()}"
                                                th:value="${worker.getName()}">worker
                                        </option>
                                    </select>

                                    <span class="input-group-btn">
                                        <button class="btn btn-info workerSelectBtn" style="margin-left: 5px;">선택
                                        </button>
                                    </span>

                                    <input type="hidden" name="id" th:value="${currentSeminar.id}"
                                           id="currentSeminarId"/>
                                </div>
                            </td>
                            <td style="width: 45%">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="{{task.progress}}"
                                         th:style="'width:' + ${task.progress} + '%; color: #0c0c0c;'">
                                        <span th:text="${task.progress} + '%'">Task Progress%</span>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 15%">
                                <span class="label label-primary" th:if="${task.progress} == 100">완료</span>
                                <span class="label label-success" th:unless="${task.progress} == 100">진행중</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--TODO: task 추가 기능 추후 구현 - donghoon.-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control" placeholder="Add Task"/>-->
                    <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-default" type="button">추가</button>-->
                    <!--</span>-->
                    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
                </div>
            </div>
            <!--.box-body-->
        </div>
        <!--.box-->
    </section>
    <!--.content-->
</div>
<!--.col-md-12-->

</body>
</html>