.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar{
    background-color:whitesmoke;
    border-bottom-color: whitesmoke;
}
.navbar li{
    color: darkgray;
}
#left-contends #hiddenDiv{
    list-style:none;
    margin:0;
    padding:0;
}

#left-contends>li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}


#status2,#status4,#status6,#status8,#status10,#status12,#status14{
    visibility: hidden;
    position: relative;
    left: -4em;
    top:0;
}
#progress{
    visibility: hidden;
}
.datepicker{z-index:1151 !important;}
